html{
  background-image: url("./images/what-the-hex.png");
  background-repeat: repeat;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

header{
   text-align: center;
   padding-top: 2%;
   padding-bottom: 5%;
}
.column {
   float: left;
   width: 33.33%;
 }
 
 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }

@media screen and (max-width: 600px) {
   .column {
     width: 100%;
   }
 }